<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Distanceto denhaag:</b>
  <%=h @location.distanceto_denhaag %>
</p>

<p>
  <b>Distanceto zoetemeer:</b>
  <%=h @location.distanceto_zoetemeer %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>